/*++

Copyright (c) 1996 ADVANCED MICRO DEVICES, INC. All Rights Reserved.
This software is unpblished and contains the trade secrets and
confidential proprietary information of AMD. Unless otherwise provided
in the Software Agreement associated herewith, it is licensed in confidence
"AS IS" and is not to be reproduced in whole or part by any means except
for backup. Use, duplication, or disclosure by the Government is subject
to the restrictions in paragraph (b) (3) (B) of the Rights in Technical
Data and Computer Software clause in DFAR 52.227-7013 (a) (Oct 1988).
Software owned by Advanced Micro Devices, Inc., 901 Thompson Place,
Sunnyvale, CA 94088.

Module Name:

    pcntn3.rc

Abstract:

    This is the resouce file for Advanced Micro Devices PCnet
    Ethernet controller.  This driver conforms to the NDIS 4.0 interface.

Environment:
    Kernel Mode - Or whatever is the equivalent on OS/2 and DOS.

Revision History:

--*/

#include <windows.h>
#include <ntverp.h>
#include "binsig.h"
// #include <version.h>

// #include "common.ver"

/*-----------------------------------------------*/
/* the following lines are specific to this file */
/*-----------------------------------------------*/

/* VER_FILETYPE, VER_FILESUBTYPE, VER_FILEDESCRIPTION_STR
 * and VER_INTERNALNAME_STR must be defined before including COMMON.VER
 * The strings don't need a '\0', since common.ver has them.
*/

/* possible values:             VFT_UNKNOWN
				VFT_APP
				VFT_DLL
				VFT_DRV
				VFT_FONT
				VFT_VXD
				VFT_STATIC_LIB
*/

/* possible values              VFT2_UNKNOWN
				VFT2_DRV_PRINTER
				VFT2_DRV_KEYBOARD
				VFT2_DRV_LANGUAGE
				VFT2_DRV_DISPLAY
				VFT2_DRV_MOUSE
				VFT2_DRV_NETWORK
				VFT2_DRV_SYSTEM
				VFT2_DRV_INSTALLABLE
				VFT2_DRV_SOUND
				VFT2_DRV_COMM
*/

//#ifdef RC_INVOKED

#define VER_LEGALCOPYRIGHT_YEARS    "2024"

#define VER_LEGALCOPYRIGHT_STR "(C) Copyright AMD Corporation All Rights Reserved." VER_LEGALCOPYRIGHT_YEARS

#define VER_FILETYPE                VFT_DRV

#define VER_FILESUBTYPE             VFT2_DRV_NETWORK

#ifdef _FAILOVER
#define VER_FILEDESCRIPTION_STR     "PermaNet(tm) Server Driver for IBM 10/100 Ethernet Adapter MC"
#else
#define VER_FILEDESCRIPTION_STR     "Network Driver for IBM 10/100 Ethernet Adapter MC"
#endif

#ifdef _FAILOVER
 #define VER_INTERNALNAME_STR        "PCNTN4PS.SYS"
#elif defined(NDIS40_MINIPORT)
 #define VER_INTERNALNAME_STR        "PCNTN4M.SYS"
#else
 #define VER_INTERNALNAME_STR        "PCNTN3M.SYS"
#endif

#define VER_ORIGINALFILENAME_STR    VER_INTERNALNAME_STR

#define AVER_COMPANYNAME_STR         "Advanced Micro Devices"

#ifdef _FAILOVER
#define AVER_PRODUCTNAME_STR         "PermaNet(tm) Server Driver for IBM 10/100 Ethernet Adapter MC"
#else
#define AVER_PRODUCTNAME_STR         "Network Driver for IBM 10/100 Ethernet Adapter MC"
#endif

#define AVER_PRODUCTVERSION          4,00,010


#define VER_FILEVERSION AVER_PRODUCTVERSION


#define AVER_PRODUCTVERSION_STR "4.00.013"

#define VER_FILEVERSION_STR AVER_PRODUCTVERSION_STR


VS_VERSION_INFO VERSIONINFO
FILEVERSION    VER_FILEVERSION
PRODUCTVERSION VER_PRODUCTVERSION


BEGIN
    BLOCK "StringFileInfo"
    BEGIN
	BLOCK "040904B0"   /* LANG_ENGLISH/SUBLANG_ENGLISH_US, Unicode CP */
	BEGIN
	    VALUE "CompanyName",     AVER_COMPANYNAME_STR
	    VALUE "FileDescription", VER_FILEDESCRIPTION_STR
	    VALUE "FileVersion",     VER_FILEVERSION_STR
	    VALUE "InternalName",    VER_INTERNALNAME_STR
	    VALUE "LegalCopyright",  VER_LEGALCOPYRIGHT_STR
	    VALUE "OriginalFilename",VER_ORIGINALFILENAME_STR
	    VALUE "ProductName",     AVER_PRODUCTNAME_STR
	    VALUE "ProductVersion",  AVER_PRODUCTVERSION_STR
	END

    END

    BLOCK "VarFileInfo"
    BEGIN
	VALUE "Translation", 0x040904B0L
    END
END

//#ifdef _FAILOVER
//#include "pcntn4m.rc"
//#endif

//#endif




